.button {
  display: inline-flex;
  min-width: 100px;
  width: fit-content;
  min-height: 32px;
  padding: 10px;
  border-radius: 16px;
  background-color: #f8f8ff;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #f5f5f5;
}

.button:active {
  background-color: #dcdcdc;
}

.buttons-wrapper__add-text {
  word-wrap: break-word;
  word-break: break-all;
  max-width: 170px;
}
