.card {
  background-color: #f8f8ff;
  border-radius: 16px;
}

.card__link {
  display: inline-flex;
  width: 100%;
  padding: 6px 12px 6px 8px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 16px;
}
