.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 272px;
  padding: 8px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 16px;
}

.column__title {
  margin: 0;
  padding: 6px 8px 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 16px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f8f8ff;
  cursor: text;
}

.column__title:hover,
.column__title:focus {
  background-color: #f5f5f5;
}

.column__title:active {
  background-color: #dcdcdc;
}

.column__card-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
